DirectoryIndex index.php index.html

RewriteEngine On
RewriteRule ^og\.png$ /og.php [L]

AddType text/plain .iftest .md
AddCharset utf-8 .iftest .md

<Files "iftest.php">
 Order Allow,Deny
 Deny from all
</Files>

<FilesMatch "(Dockerfile|\.(log|sh|ini|env|yml|yaml|backup|sql)$)">
 Order Allow,Deny
 Deny from all
</FilesMatch>

RedirectMatch 403 /\..*
RedirectMatch 403 .*password.*
RedirectMatch 403 .*secrets.*
